* {
    border-box: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
    padding: 0px;
}
.menu {
    width: 15%;
    background-color: rgb(190, 190, 190);
    padding: 10px 20px 0px;
    list-style: none;
    text-decoration: none;
}

.header {
    background-color: rgb(255, 255, 255);
    min-height: 10px;
}

li {
    text-decoration: 0;
}


ul {
    display: block;
    padding: 0px;
}



/*Content*/
.content {
    background-color: white;
    min-height: 300px;
    padding: 50px;
}

/*Contato*/
fieldset {
    width: 600px;
}

.row {
    margin: 0px;
}

label {
    width: 75px;
    text-align: right;
    display: inline-block;
    padding: 5px 20px;
}

.card-personal {
    border: 1px solid #64696d;
    border-radius: 5px;
    -webkit-box-shadow: -9px 9px 15px -7px #000000; 
    box-shadow: -9px 9px 15px -7px #000000;
}

legend {
    border: 1px solid #64696d;
    border-radius: 5px;
    padding: 5px 15px;
}

.footer {
    display: block;
    background-color: rgb(255, 255, 255);
    min-height: 50px;
    padding: 20px;
}

.center {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
  }

.center-text {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

  .center-table {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }



/* Tabela */  
table {
    -webkit-box-shadow: -6px 4px 11px -3px rgba(0,0,0,0.4); 
    box-shadow: -6px 4px 11px -3px rgba(0,0,0,0.4);
}
table thead th {
    background-color: #000000;
    color: white;
    width: 300px;
    /*border: solid 1px #64696d;*/
}

table tbody tr:nth-child(even) td {
    background-color: #dddddd;
}

table tbody tr:hover td {
    background-color: #9b9b9b;
    cursor: pointer;
}

table tfoot td {
    background-color: #adadad;
    color: rgb(0, 0, 0);
    width: 300px;
    /*border: solid 1px #64696d;*/
}

td { 
    text-align: center;
}

/*Mapas*/
.maps {
    width: 900px;
    padding:0%;
}
